.~*
$*
*~
*.*~
*#
backup
bak
*.bak
BAK
bash/local/*
*cache
cache*
*Catalog.psa
*.delete*
desktop.ini
.DS_Store
*.GetRight
*._gs
_gsdata_
history
.history
*index*.dat
*.junk
junk*
.leo_shadow
.netrwhist
*.nosave
*.nvram
old
*.old
OLD
*.part
Picasa.ini
scratch
*.scratch
SCRATCH
.svn
*.swp
temp
*.temp
tempfile
*Thumb*.info
tmp
*.tmp
TMP
tmpfile
